@import 'tailwindcss';

@plugin "@tailwindcss/forms";

/* https://coolors.co/485696-e7e7e7-f9c784-fc7a1e-f24c00 */
@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-background: #0b111b;
  --color-foreground: #282c34;
  --color-primary: #f24c00;
  --color-secondary: #fc7a1e;
  --color-accent1: #485696;
  --color-accent2: #e7e7e7;
  --color-danger: #ff4d4f;
  --color-success: #52c41a;
  --color-warning: #faad14;
  --color-info: #1890ff;
}

@layer base {
  /* Removes focus border: https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element */
  /* *:focus {
    outline: none;
  } */

  h1 {
    @apply mb-4 text-6xl font-bold;
  }
  h2 {
    @apply mb-3 text-4xl font-bold;
  }
  h3 {
    @apply mb-2 text-2xl font-bold;
  }
  h4 {
    @apply mb-1 text-lg font-bold;
  }

  input[type='text'],
  input[type='search'],
  textarea,
  select {
    @apply m-0 resize-none border-0 bg-inherit p-0 text-white focus:ring-0;
  }

  button:enabled {
    @apply cursor-pointer;
  }

  button:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .drag-handle {
    @apply cursor-grab;
  }
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@layer components {
  /* .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }

  .button {
    @apply inline-flex items-center justify-center rounded-md border border-transparent font-medium text-white shadow-sm focus:ring-2 focus:ring-offset-2 focus:outline-none;
  } */

  .container {
    @apply flex flex-1 flex-col overflow-x-auto pr-3 pb-24 pl-2;
  }

  .container-centered {
    @apply flex flex-1 flex-col items-center justify-center;
  }

  .button-primary {
    @apply bg-primary rounded px-4 py-2;
  }

  .button-secondary {
    @apply border-secondary text-secondary rounded border px-4 py-2;
  }
}
